.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 24px;
    border: 1px solid var(--gray-light);
    width: 888px;
    height: 368px
}

.cardContent {
    display: flex;
    gap: 24px;
}

.imageWrapper {
    flex-shrink: 0;
}

.image {
    width: 292px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: var(--main);
}

.priceWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 1.3;
        color: var(--main);
}

.favoriteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon {
    stroke: var(--main);
    fill: none;
    stroke-width: 1.5px;
}

.favoriteActive {
    stroke: var(--button);
    fill: none;
}

.meta {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    font-size: 16px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--main);
}

.starIcon {
    fill: var(--rating);
    color: var(--rating);
    flex-shrink: 0;
}

.ratingText {
    text-decoration: underline;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--main);
}

.camperlocation{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
      
        color: var(--main);
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--main);
}

.description {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        
        color: var(--text);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.feature {
    padding: 12px 18px;
    background-color: var(--inputs);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main);
    display: flex;
    align-items: center;
    gap: 8px;
}

.actions {
    margin-top: auto;
}

.featureIcon {
    color: var(--main);
    flex-shrink: 0;
}