.sidebar {
  width: 100%;
  max-width: 360px;
  background-color: var(--white);
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
 
}

.section {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 14px;
  color: var(--text);
  font-weight: 500;
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  
}
.locationIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--main);
  opacity: 0.6;
}

.locationInput {
  padding-left: 48px !important;
  width: 360px;
  height: 56px;
   
}



.divider {
  border-top: 1px solid var(--gray-light);
  padding-top: 24px;
}

.sectionTitle {
font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--text);
  margin-bottom: 32px;
}

.subsectionTitle {
font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 24px;
}

.subsectionDivider {
  border-top: 1px solid var(--gray-light);
  padding-top: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  row-gap: 8px;
  margin-bottom: 32px;
}

.filterButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filterButton:hover {
  border: 1px solid var(--button);
}

.filterButton.active {
border: 1px solid var(--button);
background: var(--white);
  
}

.filterIcon {
  font-size: 24px;
  color: var(--main);
}

.filterLabel {
  font-size: 16px;
  color: var(--main);
  font-weight: 500;
  text-align: center;
}

.searchButton {
    padding: 16px 60px;
    margin-top: 8px;
   
}
