.container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background-color: var(--inputs);
    border-radius: 100px;
    font-size: 16px;
    color: var(--main);
}

.featureIcon {
    flex-shrink: 0;
    color: var(--main);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.detailsTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--main);
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-light);
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.detailItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.detailLabel {
    color: var(--main);
}

.detailValue {
    color: var(--main);
    font-weight: 500;
}