.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.imageWrapper {
    position: relative;
    width: 292px;
    height: 312px;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    object-fit: cover;
}