@import "modern-normalize/modern-normalize.css";

:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family), sans-serif;
  color: var(--main);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-family), sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
