.main {
  flex: 1;
}

.hero {
  background: var(--white);
  padding: 260px 0;
  background-image: url(/images/hero1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
    min-height: calc(100vh - 72px);
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: url(/images/hero2x.webp);
  }
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 200px;
  padding: 16px 48px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
.button:hover {
  background-color: var(--button-hover);
}
