.button {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 200px;
  width: 166px;
  height: 56px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-family: var(--font-family);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary {
  background-color: var(--button);

  color: var(--white);
}

.primary:hover:not(:disabled) {
  background-color: var(--button-hover);
}

.secondary {
  background-color: transparent;
  color: var(--text);

border: 1px solid var(--gray-light);
}

.secondary:hover:not(:disabled) {
  border-color: var(--button);
}

.outline {
  background-color: transparent;
  color: var(--gray);

  border: 1px solid var(--gray-light);
}

.outline:hover:not(:disabled) {
border: 1px solid var(--gray-light);
}
